/*Utilidades*/
.U-title{
    border-bottom: 2px dashed #003f54;
    text-align: center;
}


.Header{
        background-image: url("../images/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
        height: 500px;
        text-align: center;
}

.Footer{
        background: #333333;
        background-size: cover;
}
.Footer-title,.Footer-titleFirst,.Footer-titleSecond,.Footer-titleLink{
    display: inline-block;
}

.Footer-servicios,.Footer-contactenos,.Footer-inises,.Footer-registrarse{
    display: inline-block;
    margin-top: 1em;
    margin-right: 2em;
}

.Footer-contactenos{
    width: 300px;
}

.Footer-tituloContenidos,.Footer-contenidos{
    width: auto;
    text-align: left;
    font-style: normal;
    font-weight: lighter;
    color: white;
}

.Footer-contenidos{
    font-size: .8em;
    font-stretch: extra-expanded;
}

.Footer-inises{
    width: 300px;
}

.Footer-registrarse{
    width: 300px;
}
.Footer-servicios{
    width: 300px;
}

.Footer-sub{
    color: white;
    text-align: center;
}


.Footer-title{
    width: 100%;
    margin: 1em .5em 0 .5em;
    border-bottom: solid #cccccc;
    border-bottom-width: 1px;
}

.Footer-textoCopy{
    font-style: normal;
    font-size: .8em;
    color: #cccccc;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    top: 20px;
    background: #333333;
}

.Footer-titleFirst,.Footer-titleSecond{
    margin-bottom: 0;
}
.Footer-titleFirst{
    color: #cccccc;
    font-size: 1.5em; 
}

.Footer-titleSecond{
    color: #cccccc;
    font-weight: lighter;
    font-stretch: expanded;
    font-size: 1em;
    margin-left: 1em;
}
.Footer-titleLink{
    float: right;
    margin-right: 2em;
    color: #cccccc;
    font-weight: lighter;
    font-stretch: expanded;
    font-size: .8em;
    position: relative;
    top: 10px;
}
.Formulario-isesion{
    margin-top: 20px;
}

.Formulario{
    margin-top: 20px;
}

.Profile{
    text-align: center;
    background: #ECEBEC;
    
}

.Profile-background1{
    background: #0084B4;
}

.Profile-background2{
    background: #002DB2;
}

.Profile-background3{
    background: #0084B4;
}

.Profile-link{
    border-radius: 2em;
    color: white;
    margin-bottom: 0.5em;
    padding: .5em 1em;
    text-decoration: none;
}
.Profile-title{
    margin-top: 0;
}


.Work{
    background: #ECEBEC;
    text-align: center;
}

.Work-image{
    width: 120px;
    height: 128px
}

.Work-imageContainer{
    float: left;
    margin: 1.7em .5em 0 0;
}
.Work-item{
    background: white;
    min-height: 128px;
    display: inline-block;
    width: 450px;
    margin-right: 1em;
    margin-bottom: 1em;
    border-style: ridge;
    border-radius: .5em;
}
    
.Work-title{
    margin-top: 0;
}
    
.Titulo-item{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0em 0em 0 0;
    border-bottom: .2em solid #333333;
}
.Contenido-item{
    width: auto;
    margin-bottom: 0;
    text-align: justify;
}
