.Header{
        background-image: url("../images/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
        height: 500px;
}

.Footer{
        background: #333333;
        height: 250px;
}